div.header
	#[a(id='home-link', href='/', class="#{(activePage === 'index' ? 'active' : '')}") pT]
	| | &nbsp;
	#[a(href='/submit-timeline', class="#{(activePage === 'submit-timeline' ? 'active' : '')}") Submit Timeline]
	| | &nbsp;
	#[a(href='/archive', class="#{(activePage === 'archive' ? 'active' : '')}") Archive]
	| | &nbsp;
	#[a(href='/about', class="#{(activePage === 'about' ? 'active' : '')}") About]
