extends layout

block header
	include ./includes/header.jade

append extra-head
	link(rel='stylesheet', href='/stylesheets/header.css')
	link(rel='stylesheet', href='/stylesheets/about.css')

block content
	div.about.text-center.container
		div.about-header plotTweets
		p plotTweets was an idea I had while watching Walking Dead. I always knew viewers Tweeted live during the show, but I wanted to actually see how often and when. Thus, the idea for plotTweets was born.
		p The name was intended to be a play of the term "plot twist". I then realized it can be used during any televised event (sports, news, debates, whatever). I couldn't come up with a different name after that, as plotTweets was stuck in my head.
		div.techs-used
			p.strong Technologies used:
				ul
					li #[a(href='https://dev.twitter.com/streaming/overview', target='_blank') Twitter Streaming API] (Data gathering)
					li #[a(href='https://nodejs.org/en/', target='_blank') Node.js] (Server)
					li #[a(href='https://www.mongodb.org/', target='_blank') MongoDB] (Database)
					li #[a(href='https://d3js.org/', target='_blank') D3] and #[a(href='https://developers.google.com/maps/', target='_blank') Google Maps API] (Displays)
					li #[a(href='http://getbootstrap.com/', target='_blank') Bootstrap] (Styling)
			p.strong Developers:
				ul
					li #[a(href='http://mikejcouture.com', target='_blank') Mike Couture] (Lead)