extends ng-layout

block header
	include ./includes/header.jade

append extra-head
	link(rel='stylesheet', href='/stylesheets/header.css')
	link(rel='stylesheet', href='/stylesheets/archive.css')

block content
	div(ng-controller="#{ngController}")
		h1 Timeline Archive
		p You may add Plot Points to the timelines at any time.
		table#timelines.table.table-striped
			thead
				th(width='150') Status / Action
				th Name
				th(width='100') Start
				th(width='100') End
				th Hashtags
			tbody
				tr(ng-repeat='timeline in timelines track by timeline._id')
					td
						div(ng-bind-html='timeline.status_link | toTrusted') {{ timeline.status_link}}
						div(ng-hide='timeline.status > 2') #[a(href='/plotpoints?timelineID={{ timeline._id }}') Plot Points]
					td {{ timeline.name }}
					td
						div.date-day {{ timeline.display_start | date:'M/d/yyyy' }}
						div {{ timeline.display_start | date:'h:mm a' }}
					td
						div.date-day {{ timeline.display_end | date:'M/d/yyyy' }}
						div {{ timeline.display_end | date:'h:mm a' }}
					td {{ timeline.hashtags | toList}}