extends layout

block header
	include ./includes/header.jade

append extra-head
	link(rel='stylesheet', href='/stylesheets/header.css')
	link(rel='stylesheet', href='/stylesheets/includes/submission-form.css')
	link(rel='stylesheet', href='/stylesheets/edit-timeline.css')
	link(rel='stylesheet', href='/stylesheets/bootstrap-datepicker.min.css')
	link(rel='stylesheet', href='/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')

append extra-script
	script(src='javascripts/bootstrap-datepicker.min.js')
	script(src='javascripts/includes/submission-form.js')
	script(src='javascripts/edit-timeline.js')
	script(src='components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')

block content
	div.edit-header Editing:  
		span.timeline-name= timelineName
	div.form-container
		form#editTimeline.form-horizontal(name='ed-timeline', method='post')
			include ./includes/submission-form.jade
			div.form-group
				label.col-sm-2.control-label Plot Points
				div.col-sm-10
					div#plotPointList
						table#plotPointTable.table.table-striped.table-condensed
							thead
								th(width='250') Timestamp
								th(width='400') Description
								th(width='50') Actions
							tbody
								tr
									td
										div#plotpointdatetimepicker.input-group.date
											input.form-control(type='text')
											span.input-group-addon
												span.glyphicon.glyphicon-calendar
									td
										input#plotPointDescription.form-control(type='text')
									td
										button#addPlotPointButton.btn.btn-success.btn-add.center-block(type='button')
											span.glyphicon.glyphicon-plus
			hr
			div.form-group
				div.col-sm-offset-2.col-sm-10
					button.btn.btn-primary(type='submit') Save
