extends layout

block header
	include ./includes/header.jade

append extra-head
	link(rel='stylesheet', href='/stylesheets/header.css')
	link(rel='stylesheet', href='/stylesheets/index.css')

block content
	div.intro.text-center.container
		div.intro-header plotTweets
		div.intro-step
			p plotTweets is an interactive visualization tool used to view Tweet trends during a popular television series, sporting event, or whatever else comes on TV!
		p.alert.alert-warning
			span plotTweets uses crowd sourced data from the twitter stream. Please be advised results may contain profanity or otherwise offensive language to some.
			br
			span This website also contains spoilers for popular television shows and sporting events. 
			span.strong Use at your own risk.
		h1 Get started!
		div.intro-step
			p Using plotTweets is simple! Follow these two easy steps to create your own timeline:
			div.step-content
				span.strong Step 1: 
				span Submit a timeline.
				p Head over to the #[a(href='/submit-timeline') submit timeline] page to begin. All you need to do is fill in a bit of information about the timeline. After it is submitted, you can view its progress in the #[a(href='/archive') archive].
		div.spacing
		div.intro-step
			div.step-content
				span.strong Step 2: 
				span Enjoy your show!
				p Tweets will be gathered for your timeline as you enjoy your show.
		h1 View the Timeline
		div.intro-step
			p Tweets will continue to gather for 30 minutes after the show has ended, this is the time when the most tweets come in.
			p When the timeline is complete, a link  to view it will appear in the status column of the #[a(href='/archive') archive]. You can then browse through a variety of visualizations:
			div.step-content
				span.strong Chart
				p View the total Tweets per minute. This is the best view to see when pivotal events occur during the show. Mousing over each column will show the top 5 keywords found for each minute.
				p The bottom axis of the chart shows Plot Points.
				p Plot Points are major plot twists, points of interest, or game changing situations that occur during the show. They provide some neat feedback and are truly the essence of the tool.
				p During the show, if you remember (or if you are very enthusiastic and write down) these plot points and the time they occurred, you can add them to the chart after it has been created using the #[img(src='/images/intro/add_icon.png', align='middle')] button at the bottom left of the chart.
				span.strong Word Cloud
				p View the top 150 keywords found for all tweets gathered over the course of the show.
				span.strong Map
				p The map shows geo-tagged Tweets found during the show, displayed as a heatmap. This view uses data from Twitter users who have allowed their location to be tagged when they Tweet. This is not a feature that most prefer, so this view may show fewer Tweets than were actually gathered.
		h1 Sample Timelines
		ul.examples
			li
				#[a(href='/view?timelineID=571cccf33b8d2014558c1bb3') #[img.image(src='/images/intro/caps_flyers.png', align='left')]]
				h3 Caps-Flyers Game 6
				span The Washington Capitals and Philadelphia Flyers Stanley Cup Playoffs game 6 was an exciting game for Capitals fans. #[a(href='/view?timelineID=571cccf33b8d2014558c1bb3') View timeline].
			li
				#[a(href='/view?timelineID=57226d341b3b3fc4445b764b') #[img.image(src='/images/intro/caps_pens.png', align='left')]]
				h3 Caps-Pens Game 1
				span Yet another exciting game 1 for the Washington Capitals and Pittsburg Penguins as this game ended up going into overtime. #[a(href='/view?timelineID=57226d341b3b3fc4445b764b') View timeline].
			li
				#[a(href='/view?timelineID=57269aadd491d1a337e69723') #[img.image(src='/images/intro/got_e2.png', align='left')]]
				h3 Game of Thrones - Home (S6 E2)
				span There were quite a few plot twists in this episode. If you have yet to begin watching season 6, you may want to avoid this one. #[a(href='/view?timelineID=57269aadd491d1a337e69723') View timeline].