doctype html
html
	head
		title plotTweets
		link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://use.fontawesome.com/85529c4723.js')
		block extra-head
	body
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
		script(src='components/bootstrap/dist/js/bootstrap.min.js')
		script(src='javascripts/vo/timeline.js')
		script(src='javascripts/utils.js')
		block extra-script
		div#header
			block header
		div#content
			block content
		div#footer.pull-right
			span 2016 #[a(href='http://mikejcouture.com', target='_blank') Mike Couture]
			block footer
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-77258338-1', 'auto');
		ga('send', 'pageview');
