extends ng-layout

block header
	include ./includes/header.jade

append extra-head
	link(rel='stylesheet', href='/stylesheets/header.css')
	link(rel='stylesheet', href='/stylesheets/plotpoints.css')
	link(rel='stylesheet', href='/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')

append extra-script
	script(src='components/moment/min/moment.min.js')
	script(src='components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')

block content
	div.container.ng-cloak(ng-controller="#{ngController}", ng-show='contentLoaded')
		div#plotPointModal.modal.fade(role='dialog', data-plotpoint-modal)
				div.modal-dialog.modal-md
					div.modal-content
						div.modal-body
							div.modal-tstamp
								div.tstamp-input
									span(ng-show='newPlotpoint.edit_tstamp == false') Timestamp: {{ newPlotpoint.timestamp | date:'h:mm:ss a' }}&nbsp;
									div#timepicker.input-group.date(data-datetimepicker, ng-show='newPlotpoint.edit_tstamp')
										input.form-control(type='text')
										span.input-group-addon
											span.glyphicon.glyphicon-calendar
								div.edit-link(ng-hide='newPlotpoint.edit_tstamp')
									#[a(href='javascript:void(0)', ng-click='onEditTstamp()') edit...]
								
							textarea#description.form-control(type='text', rows='4', placeholder='Enter a description then submit!', ng-model='description')
						div.modal-footer
							button.btn.btn-primary(type='button', data-dismiss='modal', ng-click='submitPlotpoint()', ng-disabled='description == ""') Submit
							button.btn.btn-default(type='button', data-dismiss='modal') Cancel
		div.ng-cloak(ng-show='timeline.status > 2')
			p This timeline is complete. Please use the chart view to submit additional Plot Points.
		div.ng-cloak(ng-show='timeline.status <= 2')
			h3 Live Plot Point creation for 
				span(ng-bind='timeline.name')
			p Add Plot Points to the timeline so they are ready to be viewed when the timeline is complete. The Plot Point's timestamp will be set to the time the button was pressed. You may edit the timestamp in the dialog that follows.
			div.options
				div.option
					div.framed
						button.btn.btn-primary.create(data-create-auto-plotpoint)
							span
								i.fa.fa-plus.fa-lg &nbsp
							span Create Plot Point
						div.clock {{ tstamp | date:'h:mm:ss a'}}
			div#addedList.plotPointList
				h4 Submitted Plot Points
				div(ng-show='refreshing')
					i.fa.fa-spinner.fa-pulse.fa-2x.fa-fw
					span Loading Plot Points...
					span.sr-only Loading...
				div.table-responsive(ng-hide='refreshing')
					table.plotPointTable.table.table-striped.table-condensed
						thead
							th(width='75') Timestamp
							th(width='400') Description
							th(width='50')
						tbody
							tr(ng-repeat='plotpoint in timeline.plotpoints')
								td {{ plotpoint.timestamp | date:'h:mm:ss a' }}
								td {{ plotpoint.description }}
								td
