extends layout

block header
	include ./includes/header.jade

append extra-head
	link(rel='stylesheet', href='/stylesheets/header.css')
	link(rel='stylesheet', href='/stylesheets/submit-timeline.css')
	link(rel='stylesheet', href='/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')

append extra-script
	script(src='http://d3js.org/d3.v3.min.js')
	script(src='javascripts/validator.min.js')
	script(src='components/moment/min/moment.min.js')
	script(src='javascripts/submit-timeline.js')
	script(src='components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')

block content
	div.container
		h1 Submit a Timeline
		p When selecting the start and end times, please select the times as scheduled for the show. plotTweets will begin gathering Tweets 30 minutes prior to the show's start, and continue for an additional 30 minutes after the end time. Timelines are limited to 6 hours.
		p.alert.alert-info This tool hooks into Twitter's live stream. As a result, it cannot look for any Tweets in the past. The end date of the timeline must be in the future.
		form#submitTimeline.form-horizontal(name='submit-timeline', method='post', data-disable='false', data-focus='false')
			div.form-group
				label.col-sm-2.control-label NAME
				div.col-sm-10
					input#timelineName.form-control(type='text', placeholder='My Timeline', data-error='Your timeline needs a name!', required)
					div.help-block.with-errors
			div.form-group.start-time
				label.col-sm-2.control-label START
				div.col-sm-4
					div#startdatetimepicker.input-group.date
						input#startInput.form-control(type='text')
						span.input-group-addon
							span.glyphicon.glyphicon-calendar
			div.form-group.end-time
				label.col-sm-2.control-label END
				div.col-sm-4
					div#enddatetimepicker.input-group.date
						input#endInput.form-control(type='text')
						span.input-group-addon
							span.glyphicon.glyphicon-calendar
			div.form-group
				div.col-sm-offset-2.col-sm-10
					label#errorLabel.hidden Testing
			div.form-group
				label.col-sm-2.control-label HASHTAGS
				div.col-sm-10
					textarea#hashtagInput.form-control(type='text', rows='4', placeholder='Enter hashtags as a comma separated list.\nEx: twitter, javascript, node', data-error='Please enter some hashtags to listen for.', required)
					div.help-block.with-errors
			hr
			div.form-group
				div.col-sm-offset-2.col-sm-10
					button.btn.btn-primary(type='submit') Submit Timeline
