extends layout

block header
	include ./includes/header.jade

append extra-head
	link(rel='stylesheet', href='/stylesheets/header.css')
	link(rel='stylesheet', href='/stylesheets/view-timeline.css')
	link(rel='stylesheet', href='/components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')

append extra-script
	script(src='components/moment/min/moment.min.js')
	script(src='javascripts/numeral.min.js')
	script(src='http://d3js.org/d3.v3.min.js')
	script(src='javascripts/d3.layout.cloud.js')
	script(src='javascripts/view-timeline.js')
	script(src='javascripts/displays/chart.js')
	script(src='javascripts/displays/word-cloud.js')
	script(src='components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCBcFqUSgICNaEdqJtCQov5-ppoly8xjGQ&libraries=visualization&callback=drawMap', async, defer)

block content
	div.text-center.display-nav.fade
		ul.nav.nav-pills
			li
				#[a(data-toggle='pill', href='#chartContainer') Chart]
			li
				#[a(data-toggle='pill', href='#wordCloudContainer') Word Cloud]
			li
				#[a(data-toggle='pill', href='#mapContainer') Map]
	div#plotPointModal.modal.fade(role='dialog')
		div.modal-dialog.modal-lg
			div.modal-content
				.div.modal-header
					button.close(type='button', data-dismiss='modal')&times;
					h4.modal-title Add Plot Points
				div.modal-body
					p Plot Points are signifcant events that occurred along the timeline. Create them at the timestamp they occurred and provide a brief description explaining the event.
					div#plotPointList
						table#plotPointTable.table.table-striped.table-condensed
							thead
								th Timestamp
								th(width='400') Description
								th(width='50') Actions
							tbody
								tr
									td(width='175')
										div#plotpointdatetimepicker.input-group.date
											input.form-control(type='text')
											span.input-group-addon
												span.glyphicon.glyphicon-calendar
									td
										input#plotPointDescription.form-control(type='text')
									td
										button#addPlotPointButton.btn.btn-success.btn-add.center-block(type='button')
											span.glyphicon.glyphicon-plus
				div.modal-footer
					button#savePlotPointsBtn.btn.btn-primary(type='button', data-dismiss='modal') Save
					button.btn.btn-default(type='button', data-dismiss='modal') Cancel
	div#loadingContainer
		div.loading Loading...
	div.tab-content
		div#chartContainer.tab-pane.fade
			div#chart
		div#wordCloudContainer.tab-pane.fade
			div#wordCloud.svg-container
		div#mapContainer.tab-pane.fade
			div#mapHeader
			div#map