body {
	padding-bottom: 90px;
}

.about {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.about-header {
	margin-top: 10px;
	font-size: 64px;
	color: #4ac1c1;
	text-align: center;
}

.techs-used {
	margin-left: 25px;
	text-align: left;
}