@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}

#timelines {
	border: 1px solid #dddddd;
}

#timelines .actions {
	text-align: left;
}

#timelines .status-icon {
	margin-left: 10px;
}

#timelines .btn-edit {
	cursor: pointer;
}

.date-day {
	font-size: 11px;
}