
.edit-header {
	margin: 5px 0px 15px 5px;
}

.timeline-name {
	font-size: 24px;
}

.plot-point-controls {
	border: 1px solid #EEEEEE;
}

#plotPointList {
	border: 1px solid #CCCCCC;
}

#plotPointTable {
	margin-bottom: 0px;
	margin-top: 0px;
}

#plotPointTable .actions {
	padding-left: 10px;
	padding-right: 10px;
}

#plotPointTable .action {
	cursor: pointer;
}

.trim {
	max-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
}