.header {
	background-color: #3c3f43; /*#2d3a4b;*/
	box-shadow: 0px 2px 2px #93979d;
	padding: 10px;
	margin-bottom: 5px;
	color: #FFF;
}

#home-link {
	font-size:32px;
}

.header a {
	color: #FFF;
	text-decoration: none;
	padding-right: 10px;
}

.header .active {
	color: #4ac1c1;/*#00B7FF;*/
}
