body {
	padding-bottom: 90px;
}

.intro {
	margin-left: auto;
	margin-right: auto;
}

.intro-header {
	margin-top: 10px;
	font-size: 64px;
	color: #4ac1c1;
}

h1 {
	text-align: left;
}

.alert-warning {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}

.intro-step {
	font-size: 16px;
	margin-bottom: 10px;
	text-align: left;
}

.step-content {
	margin-left: 20px;
}

p {
	margin-top: 5px;
	margin-left: 20px;
	padding-bottom: 5px;
}

.spacing {
	margin: 15px 0px 15px 0px;
}

.examples li{
	list-style-type: none;
	text-align: left;
	font-size: 16px;
	padding-bottom: 25px;
}

.image {
	vertical-align: middle;
	border: 1px solid #e8e9ea;
	box-shadow: 0px 2px 2px #93979d;
	margin-right: 10px;
}