@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.plotPointList {
	overflow: auto;
}

.plotPointTable {
	border: 1px solid #CCCCCC;
  	margin-bottom: 0px;
  	margin-top: 0px;
}

.add-plotpoint-btn {
	display: inline-block;
	padding: 4px;
	background-color: #5cb85c;
	cursor: pointer;
	border: 1px solid #4cae4c;
	border-radius: 4px;
	color: #fff;
}

.sticker {
	text-align: center;
	min-width: 170px;
	display: inline-block;
	border: 1px solid #4cae4c;
	background-color: #5cb85c;
	border-radius: 8px;
	padding: 7px;
	box-shadow: 0px 2px 2px #93979d;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.clock {
	font-size: 18px;
}

.action {
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	cursor: pointer;
	color: #fff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.options {
	text-align: center;
	margin-bottom: 25px;
}

.framed {
	display: inline-block;
	width: 100%;
	min-width: 200px;
	padding: 15px;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
}

.unframed {
	display: inline-block;
	width: 100%;
	min-width: 200px;
	padding: 15px;
}

.frame-label {
	text-align: left;
	position: relative;
	width: 100%;
	background: #fff;
	top: -11px;
	padding-left: 3px;
	padding-right: 3px;
	font-weight: bold;
}

.create {
	width: 100%;
	min-height: 75px;
	font-size: 18px;
}

.remove {
	background-color: #d53e4f;
}

.submit {
	background-color: #5cb85c;
}

.edit-link {
	color: #00B7FF;
	cursor: pointer;
}
.edit-link:hover {
	text-decoration: underline;
}

.modal-tstamp {
	text-align: left;
}
.modal-tstamp .tstamp-input {
	display: inline-block;
	max-width: 225px;
}
.modal-tstamp .edit-link {
	display: inline-block;
}

@media screen and (min-width: 500px) {
	.framed, .unframed {
		width: 75%;
	}
}
