@font-face {
  font-family: "Gotham";
  src: url("/fonts/gotham_book-webfont.eot");
  src: local("☺"),
    url("/fonts/gotham_book-webfont.woff") format("woff"),
    url("/fonts/gotham_book-webfont.ttf") format("truetype"),
    url("/fonts/gotham_book-webfont.svg#filename") format("svg");
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Gotham", Georgia, sans-serif;
  font-size: 14px;
  margin: 0px;
  color: #787879;
  background-color: #fff;
  height: 100%;
  margin-bottom: 30px;
}

a {
  color: #00B7FF;
}

p {
  font-size: 16px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.alert {
  font-size: 14px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
@media screen and (min-width: 768px) {
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

#content {
  margin: 0px 5px 5px 10px;
}

.form-control {
  -webkit-box-shadow: inset 0 2px 5px rgba(147,151,157,0.15);
  box-shadow: inset 0 2px 5px rgba(147,151,157,0.15);
}

.center {
  text-align: center;
}

.inline-header {
  font-size: 28px;
  color: #4a4a4a;
}

.indent {
  margin-left: 10px;
}

.strong {
  font-weight: bold;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
  text-align: right;
  border-top: 1px solid #e8e9ea;
  padding: 3px 10px 0px 10px;
}