#errorLabel {
	font-weight: normal;
	color: #a94442;
}

.control-label {
}

#hashtagsDisplay {
  word-wrap: break-word;
}

.hashtag {
  margin: 2px;
  padding: 2px 2px 2px 4px; 
  line-height: 1.8;
  display: inline-block;
}

.textarea-submit-btn {
	background-color: #5cb85c;
	cursor: pointer;
	border-color: #4cae4c;
}

.textarea-submit-btn .glyphicon {
	color: #fff;
}