.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 35%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.viz-header {
  fill: #787879;
}

.axis path,
.axis line {
  fill: none;
  stroke: #e8e9ea;
  stroke-width: 1;
}

.y.axis :first-child {
  display: none;
}

.axis .tick line{
  display: none;
}

.axis text {
  fill: #9b9c9e;
}

.x.axis path {
    display: none;
}

.chart-border {
  stroke: #e8e9ea;
  fill: none;
  stroke-width: 1;
}

.axis-fill {
  fill: #f3f3f4;
  stroke: #e8e9ea;
  shape-rendering: crispEdges;
  stroke-width: 1;
}

.keywords {
}

.pre-rect {
  display: inline-block;
  width: 10px;
  background: #ffd0aa;
}

.keywords-container {
  padding: 5px;
  display: inline-block;
  border: 1px solid #ffa962;
  border-left: 5px solid #ffa962;
}

.keyword-text {
  fill: #9b9c9e;
}

.keyword {
  font-weight: bold;
}

.count {
  font-size: 10px;
  margin-right: 10px;
}

.column {
  fill: #4ac1c1;
  stroke-width: 1;
  stroke: rgba(1,1,1,0);
}

.column.over {
  fill: #FFA962;
}

.highlight-column {
  opacity: 0;
}

.o0 {
  fill: #FFA962;
  opacity: 1;
}
.o1 {
  fill: #FFA962;
  opacity: 0.8;
}
.o2 {
  fill: #FFA962;
  opacity: 0.6;
}
.o3 {
  fill: #FFA962;
  opacity: 0.4;
}
.o4 {
  fill: #FFA962;
  opacity: 0.2;
}

.add-pp-btn-bg {
  fill: #5cb85c;
  stroke-width: 0;
}

.plus-icon {
  stroke-width: 2;
  stroke: #fff;
}

.plot-point-icon {
  fill: #d1d2d4;
  shape-rendering: crispEdges;
  stroke-width: 0;
}

.plot-point-icon.over {
  fill: #FFA962;
}

.cursor-pointer {
  cursor: pointer;
}

.hit-area {
  stroke-width: 1;
  stroke: rgba(1,1,1,0);
  fill: rgba(1,1,1,0);
}

#plotPointList {
  border: 1px solid #CCCCCC;
  overflow: auto;
  height: 600px;
}

#plotPointTable {
  margin-bottom: 0px;
  margin-top: 0px;
}

#plotPointTable .actions {
  padding-left: 15px;
  padding-right: 15px;
}

#plotPointTable .action {
  cursor: pointer;
}

.trim {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#plotPointInfo {
  height: 70px;
  border: 1px solid #e9eaeb;
  max-width: 600px;
}

#plotPointInfo div {
  display: inline-block;
  top: 1px;
  height: 68px;
  width: 20px;
  background-color: #FFA962;
}

#plotPointInfo span {
  vertical-align: top;
  display: inline-block;
  margin-left: 10px;
}

.pt-tooltip {   
    position: absolute;
    text-align: left;
    top: 0px;
    left: 0px;
    max-width: 325px;
    max-height: 128px;
    width: auto;
    height: auto;
    padding: 3px;
    font-size: 13px;
    background: #ffd0aa;
    border: 1px solid #ffa962;
    border-radius: 3px;
    pointer-events: none;
    box-shadow: 0px 2px 2px #93979d;
    opacity: 0;
    color: #4a4a4a;
}

#map {
    height: 600px;
    max-height: 600px;
    border: 1px solid #e8e9ea;
    box-shadow: 0px 2px 2px #93979d;
}

.nav.nav-pills {
	border: 1px solid #bbbbbb;
	border-radius: 4px;
	display: inline-block;
	padding: 2px;
}

.nav.nav-pills a{
	color: #787879;
	border-radius: 4px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
	background-color: #4a4d52;
}

.nav-pills>li>a,
.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
	background-color: #fff;
}

#loadingContainer {
	position: relative;
	text-align: center;
}

.loading {
	position: relative;
	font-size: 42px;
	margin-top: 10%;
}
